# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.ipynb_checkpoints
*.db
*.sqlite3

# Node/JS/TS
node_modules/
dist/
dist-ssr/
*.local
.npm-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.lerna/
lerna-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw Data
*.csv
*.xlsx
